<header>
  <h1>My App</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/book/list">View books</a></li>
      <li><a href="/book/new">Add a new book</a></li>
    </ul>
  </nav>
</header>